<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="container">
    <img src="../assets/MedTerm.jpg" />
  </div>
  <span> Buscador de traducciones y definiciones médicas en internet </span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">


    <span>Localiza un término en los diccionarios disponibles por internet</span>



  </div>


  <div style="display: flex;">
    <mat-form-field class="example-full-width">
      <mat-label>Término a buscar:</mat-label>
      <input matInput placeholder="Ex. Cáncer" [(ngModel)]="textoABuscar">
    </mat-form-field>


    <button mat-raised-button color="primary" style="margin-left: 5px;" (click)="myFunction()">
      <mat-icon>search</mat-icon>Buscar
    </button>

  </div>
  <p>Donde buscarlo?</p>
  <section class="example-section">
    <span class="example-list-section">
      <mat-radio-group aria-label="Seleccione" [(ngModel)]="seleccion">
        <mat-radio-button *ngFor="let op of busqueda" name="opciones" [value]="op" style="margin: 10px">
          {{op.Descripcion}}
        </mat-radio-button>
      </mat-radio-group>

    </span>
  </section>



  <div style="display: flex;">
    <div style="margin-right: 10px;">
      <ul>
        <li *ngFor="let pagina of paginasBusqueda">
          <div class="contenido-div" matTooltip={{formatearTooltip(pagina)}} matTooltipPosition="right"
            aria-label="Button that displays a tooltip that hides when scrolled out of the container">

            <a [href]="srcUrl" target="_blank" (click)="evento(pagina)" class="enlace">
            </a>
            <div
              [ngClass]="{'color-3':(pagina.Puntuacion>=(4)),'color-1':pagina.Puntuacion<(3),'color-2':(pagina.Puntuacion>=(3))}">

              Puntuación:
              <ngb-rating [max]="4" rate={{pagina.Puntuacion}} [readonly]="true"></ngb-rating>
            </div>

            <a [href]="srcUrl" target="_blank" (click)="evento(pagina)" class="enlace"> <img class="images"
                src={{pagina.Logo}} width="30" height="30" onerror="this.src='/assets/MedTerm.jpg';" />
              {{pagina.Nombre}}
            </a>
            {{pagina.Descripcion}}
            <br>
          </div>



        </li>
      </ul>
    </div>

  </div>







  <!-- Footer -->
  <footer>
    MedTerm es un proyecto académico desarrollado por Bruno Salgado Berzal en el marco del Máster CITISP de la
    Universidad de Alcalá, inspirado en InterTerm de M. Gonzalo Claros. Prohibida la reproducción total o parcial de
    esta página sin el permiso del autor.
    El contenido está protegido con una licencia de Creative Commons.
    <a href="https://www.linkedin.com/in/brunosalgadob/" target="_blank" rel="noopener"> Autor:
      Bruno Salgado Berzal &nbsp;
      <div class="github-star-badge">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M0 0h24v24H0z" fill="none" />
          <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
        </svg>
        Contacto
      </div>
    </a>

  </footer>

  <svg id="clouds" alt="Gray Clouds Background" xmlns="http://www.w3.org/2000/svg" width="2611.084" height="485.677"
    viewBox="0 0 2611.084 485.677">
    <path id="Path_39" data-name="Path 39"
      d="M2379.709,863.793c10-93-77-171-168-149-52-114-225-105-264,15-75,3-140,59-152,133-30,2.83-66.725,9.829-93.5,26.25-26.771-16.421-63.5-23.42-93.5-26.25-12-74-77-130-152-133-39-120-212-129-264-15-54.084-13.075-106.753,9.173-138.488,48.9-31.734-39.726-84.4-61.974-138.487-48.9-52-114-225-105-264,15a162.027,162.027,0,0,0-103.147,43.044c-30.633-45.365-87.1-72.091-145.206-58.044-52-114-225-105-264,15-75,3-140,59-152,133-53,5-127,23-130,83-2,42,35,72,70,86,49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33,61.112,8.015,113.854-5.72,150.492-29.764a165.62,165.62,0,0,0,110.861-3.236c47,94,178,113,251,33,31.385,4.116,60.563,2.495,86.487-3.311,25.924,5.806,55.1,7.427,86.488,3.311,73,80,204,61,251-33a165.625,165.625,0,0,0,120,0c51,13,108,15,157-5a147.188,147.188,0,0,0,33.5-18.694,147.217,147.217,0,0,0,33.5,18.694c49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33C2446.709,1093.793,2554.709,922.793,2379.709,863.793Z"
      transform="translate(142.69 -634.312)" fill="#eee" />
  </svg>

</div>